<h2>Your Dreams</h2>

<form class="filter" method="GET" action="">
    <ul>
        <li>   
            <label for="dateQ">Date: </label>
            <input type="date" name="dateQ" id="dateQ" pattern="\d{4}-\d{2}-\d{2}">
        </li>

        <li>   
            <label for="searchQ">Search For: </label>
            <input type="text" name="searchQ" id="searchQ">
        </li>
    </ul>

    <input type="submit" value="Filter">
</form>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Dream</th>
            <th scope="col">Thoughts</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
        {{#each dreams}}
        <tr>
            <td>{{this.date}}</td>
            <td>{{this.title}}</td>
            <td>{{this.dream}}</td>
            <td>{{this.thoughts}}</td>
            <td><a href="/dreams/{{this.myslug}}">Add some thoughts!</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/record">Record a Dream</a>