
<h1 class="text-light">Your Dreams</h2>

<form class="filter" method="GET" action="">  
    <label for="dateQ">From Date: </label>
    <input type="date" class="rounded border" name="dateQ" id="dateQ" pattern="\d{4}-\d{2}-\d{2}">
           
    <label for="searchQ">Search For: </label>
    <input type="text" class="rounded border" name="searchQ" id="searchQ">
        
    <button class="btn btn-secondary" type="submit">Filter</button>
</form>
</div>

<table class="table table-bordered mx-auto text-left">
    <thead>
        <tr class="bg-dark">
            <th scope="col" class="w-15">Title</th>
            <th scope="col" class="w-10">Date</th>
            <th scope="col" class="w-25">Dream</th>
            <th scope="col" class="w-20">Thoughts</th>
            <th scope="col" class="w-10">Edit</th>
        </tr>
    </thead>
    <tbody>
        {{#each dreams}}
        <tr>
            <th scope="row" class="text-light">{{this.title}}</th>
            <td>{{this.date}}</td>
            <td>{{this.dream}}</td>
            <td>{{this.thoughts}}</td>
            <td><a href="/dreams/{{this.myslug}}">Add some thoughts!</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="text-center">
<button class="btn btn-primary"><a class="text-white" href="/record">Record a Dream</a></button>
