<h2>{{dream.title}}</h2>
<em>{{dream.date}}</em>

<p>{{dream.dream}}</p>

<h3>Thoughts</h3>
<p>{{dream.thoughts}}</p>

<a href="/dreams/{{dream.myslug}}/edit">Edit Dream</a><br>
<a href="/dreams">Back to Dreams</a>